@import "tailwindcss";


.my-link {
      color: purple;
      text-decoration: none;
      font-weight: bold;
    }

    .my-link:hover {
      color: blue;
      text-decoration: underline;
    }