HurricaneAPI/.vs/HurricaneAPI/DesignTimeBuild/.dtbcache.v2
HurricaneAPI/.vs/HurricaneAPI/FileContentIndex/3b8b0882-8e32-4f08-9cd2-e5f132fd76c2.vsidx
HurricaneAPI/.vs/HurricaneAPI/FileContentIndex/5dceae2c-1a40-4170-92a5-f34d78e64e38.vsidx
HurricaneAPI/.vs/HurricaneAPI/FileContentIndex/72d5004b-5fea-4576-900b-c72f5091c53c.vsidx
HurricaneAPI/.vs/HurricaneAPI/FileContentIndex/1181c822-8d47-4ca7-9d63-936db84f547f.vsidx
HurricaneAPI/.vs/HurricaneAPI/FileContentIndex/b15ec27f-5ec5-4b6b-a4bd-6c8c113468c6.vsidx
HurricaneAPI/.vs/HurricaneAPI/config/applicationhost.config
HurricaneAPI/.vs/HurricaneAPI/v17/.futdcache.v2
HurricaneAPI/.vs/HurricaneAPI/v17/.suo
HurricaneAPI/.vs/HurricaneAPI/v17/DocumentLayout.backup.json
HurricaneAPI/.vs/HurricaneAPI/v17/DocumentLayout.json
HurricaneAPI/.vs/ProjectEvaluation/hurricaneapi.metadata.v9.bin
HurricaneAPI/.vs/ProjectEvaluation/hurricaneapi.projects.v9.bin
HurricaneAPI/.vs/ProjectEvaluation/hurricaneapi.strings.v9.bin
HurricaneAPI/HurricaneAPI/obj/HurricaneAPI.csproj.nuget.dgspec.json
HurricaneAPI/HurricaneAPI/obj/HurricaneAPI.csproj.nuget.g.props
HurricaneAPI/HurricaneAPI/obj/HurricaneAPI.csproj.nuget.g.targets
HurricaneAPI/HurricaneAPI/obj/project.assets.json
HurricaneAPI/HurricaneAPI/obj/project.nuget.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/ApiEndpoints.json
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/apphost.exe
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/Hurrican.F2371DEB.Up2Date
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.AssemblyInfo.cs
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.AssemblyInfoInputs.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.assets.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.csproj.AssemblyReference.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.csproj.BuildWithSkipAnalyzers
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.csproj.CoreCompileInputs.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.csproj.FileListAbsolute.txt
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.dll
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.GeneratedMSBuildEditorConfig.editorconfig
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.genruntimeconfig.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.GlobalUsings.g.cs
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.MvcApplicationPartsAssemblyInfo.cache
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.MvcApplicationPartsAssemblyInfo.cs
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/HurricaneAPI.pdb
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets.build.endpoints.json
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets.build.json
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets.removed.txt
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/ref/HurricaneAPI.dll
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/refint/HurricaneAPI.dll
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets/msbuild.build.HurricaneAPI.props
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.HurricaneAPI.props
HurricaneAPI/HurricaneAPI/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.HurricaneAPI.props
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/appsettings.Development.json
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/appsettings.json
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/DnsClient.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.deps.json
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.exe
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.pdb
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.runtimeconfig.json
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/HurricaneAPI.staticwebassets.endpoints.json
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/Microsoft.OpenApi.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/MongoDB.Bson.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/MongoDB.Driver.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/SharpCompress.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/Snappier.dll
HurricaneAPI/HurricaneAPI/bin/Debug/net9.0/ZstdSharp.dll
